<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.4/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         syntaxCheck="true"
         colors="true"
         verbose="true">

     <php>
         <ini name="display_errors" value="On" />
         <ini name="display_startup_errors" value="On" />
     </php>

    <testsuite>
        <directory suffix="Test.php">DP/*/*/tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>DP</directory>
            <exclude>
                <directory>DP/*/*/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
